@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
/* .weather{
    width: 100%;
    height: 100vh;
   display: flex;
   align-items: center;
}

.icon{
    color: red;
}
.weather-icon{
    font-size: 70px;
}
.city-name h2{
    font-size: 56px;
} */
.weather{
    width: 100%;
    height: 100vh;
    background-image: url('/src/img/weahter-tour-img.jpg');
}
.weather-icon{
    font-size:40px;
}
.weather-detail{
    width: 430px;
}
.card{
/* From https://css.glass */
background: rgba(255, 255, 255, 0.18);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(2.7px);
-webkit-backdrop-filter: blur(2.7px);
border: 1px solid rgba(255, 255, 255, 0.15);
}
.weather-temp h2{
    font-size: 96px;
}